[2018-05-07 04:28] DesWurstes opened #4 "File uploading"
Would you be interested in Go code that allows the user to upload files less than 90 kB? You can have the copyright of it.

If you are, please tell me, and give me a few days to improve my file uploader, then I'll post it here for public domain use.

[2018-05-07 07:37] zdavatz commented on #4
Awesome stuff happening here!

[2018-05-07 14:35] memocash commented on #4
Hi @DesWurstes what would this file uploader be used for?

[2018-05-07 15:58] DesWurstes commented on #4
Including any types of files via On-chain transactions in memos?

[2018-05-14 10:11] lunaroyster opened #8 "Images from IPFS?"
After the fork tomorrow, it will become possible to leave larger messages. Some folks would perhaps like to use IPFS instead of imgur and other providers.

Since the actual node used to resolve IPFS links doesn't really matter, perhaps this format could be used:

    i/{IPFS hash here}

In a post:

If a user makes this post, the IPFS image is resolved using any IPFS node, and included just like an

[2018-05-14 10:14] lunaroyster commented on #8
So, to sum it up: frontend support for resolving IPFS links into media.

[2018-05-14 14:52] jchavannes commented on #8
Great idea!  This would be a good addition to the site.  We'll see when we can get time to add something like this.

[2018-05-16 13:07] jcramer opened #9 "using with a testnet"
Do you have recommendations or settings for using memo with a testnet?

I tried using `ChainParams: &wallet.TestNetParams` along with `bchutil.TestnetMagic` for the node's and then changed `BITCOIN_NODE_PORT` to 18333, but the node just disconnects after timing out.

[2018-05-16 13:29] jcramer opened #10 "btcsuite imports"
how come sometimes btcsuite/btcd/... is imported but other times jchavannes/btcd/... is imported?

[2018-05-16 14:58] jchavannes commented on #10
I forked btcd from cpacia and that's how he did it - https://github.com/cpacia/btcd

I think I actually tried changing all imports to use `jchavannes` but I think I ran into some issues there, I can't recall.

[2018-05-16 15:04] jcramer commented on #9
ok thanks Jason, It seems like everyone is using main net for testing because txn fees are so low...

[2018-05-16 15:04] #9 closed

[2018-05-16 15:05] jcramer commented on #10
Ok I thought that might have been the case, just wanted to double check.

[2018-05-16 15:05] #10 closed

[2018-05-21 14:25] janaagaard75 opened #11 "Balance is 0 on memo.cash, but not on block explorer"
After liking a post, my balance on memo.cash is suddenly 0. When I open up the address on block explorer, I find the expected ~0.01 BCH.

Have I stumbled upon a bug?

<https://explorer.bitcoin.com/bch/address/12K8HZrLR8NrRnP5uSJnuKT2SpDduDJf2c>
<https://memo.cash/profile/12K8HZrLR8NrRnP5uSJnuKT2SpDduDJf2c> (I know this link probably isn't worth much - would a screenshot help?)

[2018-05-26 04:02] winchell opened #22 "Korean translation file: 2,000,000 satoshis reward"
2,000,000 satoshis for the person who can translate this to Korean! Thanks.

Notes: translated word or phrase goes in the `translation` field. For the those that specify, `one` means singular and `other` means plural. If it doesn't matter in Korean, the string is just repeated in those fields. Nothing else needs to be modified.
[code]

[2018-05-26 04:03] winchell commented on #11
Hi Jan - Is your balance still messed up?

[2018-05-26 05:15] janaagaard75 commented on #11
Yes, it’s still the same issue. Happy to help, of there is anything I can do. My username on Memo is `janaagaard`.

[2018-05-26 05:47] winchell commented on #11
Ok, thanks and sorry about that. We have a ticket (MEMO-155) to get to the bottom of this.

[2018-05-27 19:05] mlnl17 commented on #22
[
  {
    "id": "home",
    "홈": ""
  },
  {
    "id": "dashboard",
    "대시보드": ""
  },
  {
    "id": "new_memo",
    "새 메모 작성": ""
  },
  {
    "id": "posts",
    "올라온 글들": ""
  },
  {
    "id": "profiles",
    "프로필": ""
  },
  {
    "id": "login",
    "로그인": ""
  },
  {
    "id": "logout",
    "로그아웃": " <b>{{.Username}}</b>"
  },
  {
    "id": "about",
    "소개글": ""
  },
  {
    "id": "protocol"

[2018-05-27 19:11] winchell commented on #22
Fantastic, thank you!  I'll integrate this today or tomorrow.

Link your Memo profile or just a BCH address and I'll send the reward.

[2018-05-27 19:12] mlnl17 commented on #22
there are few things make confuse me to translate.
first.
"actions"
Are there more features gonna add to this action menu?

second.
i cant find "total" menu in memo.cash.
where is it?i need to see for exact translation.

Third.
as i remember "forget password" menu was in topic.but i cant find anymore.where is "forget password"ment?

[2018-05-27 19:19] winchell commented on #22
1. Yes - and actually this looks like a layout bug to me. If you log into memo.cash and click Dashboard, the "actions" are actually the stuff below the table at the top. Set Profile Text, Set Name, etc.

2. This one's hard to find. We're using the translation in Total On-chain Actions on this page: https://memo.cash/stats. But only the word "total" is in the translation file.

3. You're right, it'

[2018-05-27 19:32] mlnl17 commented on #22
ok.this one is final one.i will post feedback here when i found other thing to fix.
and my bch address is:
qr84pnvefam5q2fnmdj7e205x9whgp8qncq7e9u48n

[
{
"id": "home",
"홈": ""
},
{
"id": "dashboard",
"대시보드": ""
},
{
"id": "new_memo",
"새 메모 작성": ""
},
{
"id": "posts",
"올라온 글들": ""
},
{
"id": "profiles",
"프로필": ""
},
{
"id": "login",
"로그인": ""
},
{
"id": "logout",
"로그아웃": " {{.Username}}"
},
{
"id"

[2018-05-27 21:43] winchell commented on #22
This is live on Memo - closing the issue out!

[2018-05-27 21:43] #22 closed

[2018-05-29 06:52] Vigi0303 opened #26 "[i18n]fix all page translation"
Refer to the text google does.

![image](https://user-images.githubusercontent.com/9861673/40642225-039eaee0-634f-11e8-8d28-264a56e3abbc.png)

for copy: 上一页, 下一页

[2018-05-29 06:54] winchell commented on #26
Thanks - good idea. Are you able to make a pull request?

[2018-05-29 07:02] Vigi0303 commented on #26
[code]

[2018-05-29 07:04] winchell commented on #26
Awesome, thank you! We'll get this merged.

[2018-05-29 10:47] Vigi0303 commented on #26
@winchell Does the `Profile` in profile page is equal to the `bio`?

[2018-05-29 16:04] winchell opened #27 "Danish translation file"
Can you help translate Memo to Danish? Example:

[code]
Note: entries with `one` and `other` are for singular and plural.

[code]

[2018-05-29 16:08] winchell opened #28 "Deutsche translation file"
Can you help translate to Memo to Deutsche? Example:

[code]
Note: entries with `one` and `other` are for singular and plural.

[code]

[2018-05-29 16:31] winchell opened #32 "Portuguese translation file"
Can you help translate Memo to Portuguese? Example:

[code]
Note: entries with `one` and `other` are for singular and plural.

[code]

[2018-05-29 20:41] DiscoDonny opened #33 "Dutch translation file"
Hi guys, I'm new with github but wanted to contribute something within my capabilities, so I made a Dutch translation based on the format of the other languages. Hope this is enough to be able to add Dutch as a language. Any questions regarding dutch, don't hesitate to contact me. Good luck!

[
  {
    "id": "home",
    "translation": "startpagina"
  },
  {
    "id": "dashboard",
    "translation"

[2018-05-29 23:50] winchell commented on #33
Awesome! Thanks - I'll post again here when it's live.

[2018-05-30 00:02] #4 closed

[2018-05-30 00:04] winchell commented on #8
My main concern with IPFS is that can be slow, at least from what I've seen making requests to ipfs.io. A cache layer might solve that problem.

[2018-05-30 00:49] einsteinsfool commented on #33
@DiscoDonny Hey. Cool. Thanks for the contribution.
Would you like me to guide you to make a Pull Request out of that? It would take a bit of time and you'd have to install git but that way you'd be added to the "contributors" of this repository.

[2018-05-30 03:33] Vigi0303 commented on #26
page translation is fixed.

[2018-05-30 03:33] #26 closed

[2018-05-30 05:14] DiscoDonny commented on #33
@einsteinsfool That would be awesome if you could do that. I would like to learn that.

[2018-05-30 08:09] lunaroyster commented on #8
IPFS nodes cache content automatically when it is first fetched. The first fetch can be super slow, especially if the nodes are distant on the network. But there's no major speed issue after that.

I think the solution would be to run a IPFS node specifically for memo.cash content, and run a script alongside it which automatically fetches new content posted on the memo protocol. I don't think we n

[2018-05-30 17:01] winchell commented on #26
Thanks!!

[2018-05-30 17:02] winchell commented on #33
@DiscoDonny are you on Memo? Would like to send you some BCH.

[2018-05-30 17:11] winchell commented on #8
@lunaroyster Thanks - that is helpful.

[2018-05-30 17:16] DiscoDonny commented on #33
@winchell  Yep, i am on Memo.
My profile name is Donald, i'm the only Donald, so far, so you should be able to find me.

[2018-05-31 14:47] scriptzteam opened #40 "[FeatureRequest] External OP_RETURN´s data"
Could you make to parse all other OP_RETURN´s data like from blockpress or anything other that have some data in it :)

Maybe make a special page for it too ...

Thx!

[2018-05-31 15:01] scriptzteam opened #41 "overflows int error and sql error"
**go version go1.10.2 linux/386**

[code]

Quick fix by myself xD

nano +58 ../../jchavannes/jgo/web/Response.go
Changed it to **MaxAge:   int(100),**

Finally can build but then

./memo web
and result of http://192.168.0.5:8261/posts/ranked is:

`Error:
 [1] Error with request: "/posts/ranked"
 [2] error getting ranked posts
 [3] error getting posts for hash
 [4] error running query
 [5] Error 10

[2018-05-31 15:26] jchavannes commented on #41
Thanks for reporting!

We are using Go 1.9 and MySQL 5.5.  I haven't tested memo on Go 1.10 or MySQL 5.7.  We'll be sure to add this to the docs.  We'll see about adding support for newer versions.

[2018-05-31 15:40] scriptzteam commented on #41
Thx ;)

Dont know its due to go and mysql but i can not signup...

Username does NOT exists and i got "Username is not available. Please try a different username"

[2018-05-31 16:55] jchavannes commented on #41
Hmm, I'm not sure why you're getting that error.  My guess is that it's related to the Go/MySQL versions, but it might be something else.

[2018-05-31 17:08] scriptzteam commented on #41
And also
`Error:
 [1] error getting memo post parent
 [2] error getting memo post
 [3] error running query
 [4] record not found
Error:
 [1] Error with request: "/posts/new"
 [2] error attaching polls to posts
 [3] error getting memo poll option
 [4] error getting memo poll option
 [5] error running query
 [6] record not found
[2018-05-31T19:07:04+02:00 - 192.168.0.213] Handled request: "/posts/ne

[2018-05-31 17:58] jchavannes commented on #41
Looks like missing data in the db.  Did you restart the `main-node`? Might need to run the scanner to refresh old data - `go run main.go scanner`.

[2018-06-02 19:42] winchell commented on #40
We have too many other high priority items at the moment, but it might make sense in the future. If you feel strongly about this feel free to do a PR and we can consider the implementation. Thanks for posting!

[2018-06-02 19:42] #40 closed

[2018-06-03 17:27] einsteinsfool commented on #33
@DiscoDonny Sorry for the late reply but I haved a lot of stuff on my head.
So, it works like this on GitHub (GH). You go to a project page on GH and you fork it (button in the right upper corner). This makes a copy of the repository (repo) and adds it to your profile. You have now control over your repo (and not the original repo). What you have to do is to add changes to your repo and then make

[2018-06-04 18:39] DiscoDonny commented on #33
@einsteinsfool Thanks a lot, you have put a lot of effort in explaining this me. It worked, yes.  I'm very grateful for this. Do you have a personal bch address for me so I can send you a tip, or if you prefer a donation address for the project?

[2018-06-04 18:43] einsteinsfool commented on #33
@DiscoDonny Glad to have helped. No need to tip me. You can tip Memo itself if you want or just use it and it will still make world a better place. :-) Thanks for the offer, though.

[2018-06-04 19:02] DiscoDonny commented on #33
@einsteinsfool Made a donation to eatBCH on your behalf. And I will keep on using Memo naturally;)

[2018-06-06 01:41] #32 closed

[2018-06-06 01:41] #27 closed

[2018-06-07 20:02] janaagaard75 commented on #11
Is there any way I can help fixing this bug?

I've managed to get memo.cash running locally. The app disconnected at block 526984, and when I loaded the website I had a positive balance on my profile. Based on that I am guessing that it is the last action that I made, that is causing an error in the app, resulting in a balance of 0. Can I somehow replay that block on my local system?

Here's a lin

[2018-06-07 20:10] winchell commented on #11
Does the app continue to get new blocks if you restart it from 526984?

[2018-06-08 02:23] fieldad26 opened #44 "My account got banned in memo?"
Seems like I cant post, tip, or comment, I dont know why? can anyone help me?

[2018-06-08 02:38] jchavannes commented on #44
Hi @fieldad26 this can happen because memo doesn't currently support dust consolidation.  We are actually working on fixing this right now, hopefully will have support for this in next 24 hrs.

In meantime I sent you 10k sats, hope that helps for now.

[2018-06-08 02:50] fieldad26 commented on #44
Sure, thank you, i hope you fix it soon, and also thanks for the tip. 😁

[2018-06-08 06:03] bch-infraspace opened #45 "Request: Topic/thread navigation"
I hate having to scroll up repeatedly when clicking into a long topic thread. Would be great if the OP was shown by default.

If that's too difficult how about some navigation buttons: "Show OP", "Next reply from OP", "Newest Post" (Exact wording optional naturally)

Maybe some buttons next to individual posts: "Show/Hide from this user", "Next reply from this user"

[2018-06-08 06:57] janaagaard75 commented on #11
Yes it does. I disconnected quite a few times, so I did not manage to get fully up to date with the latest block. Will post an update in here, once my local system is fully up to date with the latest block.

[2018-06-08 06:59] janaagaard75 commented on #11
Update: I now have the expected balance of 973,123 satoshi on memo.cash. Don't know what you guys did, but thanks a lot for fixing this.

[2018-06-08 06:59] #11 closed

[2018-06-08 14:50] winchell commented on #11
@jchavannes fixed it! Thanks for your patience.

[2018-06-08 17:13] winchell commented on #45
Lots of ideas here! By OP should I assume you mean the root post that started the thread? So you land in the middle of a thread and want more context.

[2018-06-08 17:16] bch-infraspace commented on #45
Precisely.

On Fri, 8 Jun 2018, 19:13 Eric Winchell, <notifications@github.com> wrote:

--

Join Coinbase and get in on the cryptocurrency revolution:
https://www.coinbase.com/join/531f1a4490583c615a000048

[2018-06-08 18:49] winchell commented on #33
This is deployed! Feel free to open new issues for improvements/corrections. We have many gaps to fill (with new language file entries) that you might notice.

[2018-06-08 18:49] #33 closed

[2018-06-08 19:05] scriptzteam commented on #41
New error:

`Error:
 [1] error conditionally saving transaction
 [2] error saving transaction
 [3] error saving new transaction
 [4] error saving txn
 [5] error saving transaction
 [6] Error 1406: Data too long for column 'lock_string' at row 1`

[2018-06-10 17:48] janaagaard75 opened #47 "Error getting reply post from db"
I some of these errors when running `main-node`. Sorry for the vague 'some', but I don't know how to count them.

    [1] error getting reply post from db
    [2] error getting memo post
    [3] error running query
    [4] record not found

[2018-06-10 17:50] janaagaard75 opened #48 "Error adding like notification"
I get a lot of these errors when running `main-node`. Sorry for the vague 'a lot', but I don't know how to count these.

    [1] error adding like notification
    [2] error getting memo post
    [3] error getting memo post
    [4] error running query
    [5] record not found

[2018-06-11 12:37] scriptzteam commented on #47
Having the same :)

[2018-06-11 12:38] scriptzteam commented on #48
Having the same :)

[2018-06-11 15:16] jchavannes commented on #47
These could potentially be indicative of actual issues, but most of the time it's just someone replied to a post that never confirmed and these can safely be ignored.

[2018-06-11 15:19] jchavannes commented on #48
These could potentially be indicative of actual issues, but most of the time it's just someone liked a post that never confirmed and these can safely be ignored.

[2018-06-11 17:51] scriptzteam opened #50 "Special chars not saving up in mysql table?"
```Error 1366: Incorrect string value: '\xCB\x88s\xCA\x8C\xC9...' for column 'message' at row 1```

[2018-06-12 01:12] nghiacc opened #51 "New users (with zero/low balance) list"
Can it be requested for a page with new users who do not have any balance yet so other users can tip directly to help new comers?

[2018-06-12 01:21] nghiacc opened #52 "Default tip amount"
Currently the like button requires user to enter a specific amount to tip, this introduces an extra click, which impacts the UX. I would suggest to have a default tip amount for like, which can be either configured in the user profile or auto suggested at the page. Some ideas:
- the like button will display the default amount of tip
- there is a dropdown button on the like button, the user can cho

[2018-06-12 07:14] janaagaard75 commented on #48
Thanks. Closing this, at the client seems to be working fine.

[2018-06-12 07:14] #48 closed

[2018-06-12 07:34] janaagaard75 commented on #47
Thanks for clarifying. Closing this as my system seems to run fine.

[2018-06-12 07:34] #47 closed

[2018-06-13 17:08] fieldad26 commented on #44
No good, i cant comment, like or tip, i miss memo 😭

[2018-06-13 17:15] fieldad26 commented on #44
![screenshot_20180614-011344](https://user-images.githubusercontent.com/40047903/41367006-62c8a75e-6f70-11e8-8925-e1b32dc49f47.png)

![screenshot_20180614-011336](https://user-images.githubusercontent.com/40047903/41367017-6f175b68-6f70-11e8-8fa8-44ad1f93154c.png)

[2018-06-14 19:13] scriptzteam opened #53 "[Feature-Request] Api for posting?"
Can we have some api for posting?

Like passing a paramenters in url and then it will got posted?

:)

[2018-06-15 15:39] jishcat commented on #51
This and the ability to directly tip a user instead of a post. Desperately needed to help people get on.

[2018-06-15 17:08] jchavannes commented on #51
This is a great idea.  We definitely want to get something like this in place soon.  We appreciate your input :)

[2018-06-15 18:10] mlnl17 opened #54 "Need some changes to Korean Translation"
i got some feedback from korean ppl.and i also think need some change.
[code]

[code]
 {
    "id": "Ranked",
    "translation": "인기글"
  },
 {
    "id": "Polls",
    "translation": "투표 메모들"
  },
[code]

[2018-06-17 23:43] xmodulus commented on #53
@scriptzteam Are you planning to make your own client? You can use [datacash](https://github.com/unwriter/datacash) and broadcast transactions with an OP_return based on the [memo protocol](https://memo.cash/protocol).

[2018-06-18 15:12] scriptzteam commented on #53
datacash not works for me, any python script? i tested a lot none works :D

[2018-06-20 22:30] xskl0 opened #55 "I can translate memo to catalan"
My email is gerard1@tutanota.com

[2018-06-27 07:23] scottjbarr opened #56 "Missing function getUnique"
Two template reference the `getUnique` function, but the function doesn't exist.

This was added in commit 98b56a0d

p.s. Cool project BTW :)

[2018-06-27 15:42] jchavannes commented on #56
It's in a separate repo.  You'll need to update `jchavannes/jgo` - https://github.com/jchavannes/jgo/commit/29429b0c8934da6a6d9d05967dd4f9151ab9b150

[2018-06-27 15:47] jchavannes commented on #44
We support dust consolidation for all actions now.  The 500 level errors you're seeing are do to scheduled server restarts, we'll hopefully remove those soon.

[2018-06-27 15:47] #44 closed

[2018-06-27 15:48] jchavannes commented on #41
For that error you may need to increase the size of that column on the transaction table.

[2018-06-27 15:48] #41 closed

[2018-06-27 15:49] jchavannes commented on #52
Could be improved, but there is now support for a default tip amount.

[2018-06-27 15:49] #52 closed

[2018-06-27 21:53] scottjbarr commented on #56
Ah my bad then. I didn't update the deps. Thanks @jchavannes .

[2018-06-27 21:53] #56 closed

[2018-06-29 16:13] scriptzteam commented on #41
Yeah done 15 days ago ^^ xD https://github.com/scriptzteam/MemoCash-Fixes

[2018-06-30 08:10] scriptzteam opened #57 "Error after build in memo web -- function "UcFirst" not defined ??"
In latest memo build i got:

[code]

**go version
go version go1.10.3 linux/386**

[2018-07-01 14:34] jchavannes commented on #57
I'm not sure why you would get that error.  It is defined here: https://github.com/memocash/memo/blob/master/web/server/main.go#L132

[2018-07-02 06:31] zhoujianfu opened #58 "Add private/direct message support?"
I suggest adding a new memo message type to the protocol which would be I guess 0x6d15?

It would simply be an encrypted message, where the encryption is via your private key and the public key of the address you are sending the message to. You can encrypt via https://github.com/kevinejohn/bitcoin-encrypt (with the binary encrypted message then base64 encoded and posted to memo), and you can find

[2018-07-02 15:42] jchavannes commented on #58
Great thoughts! Encrypted messaging is definitely something I'd like to add in one form or another. I agree it would enable a lot of other possibilities. I appreciate your input.

[2018-07-03 04:33] zhoujianfu commented on #58
Thanks! Please let me know if you have any questions or problems with it if/when you do start implementing it.

@chaintip 14 days

[2018-07-03 04:34] chaintip commented on #58
`1.23566322 BCH`| `~1015.44 USD` has [been tipped](https://explorer.bitcoin.com/bch/address/bitcoincash:qqh0ld4smnw7jn8shqljfpcnu54ul9vf8s8wamsgl5) to this issue by @zhoujianfu.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/40), get a pull request merged with ```@chaintip fixes #58``` in the creation comment.

[2018-07-03 14:40] nkgokul commented on #8
In the mean time it would be great if you could add better support for imgur atleast - https://bitbucket.org/liamstask/go-imgur https://memo.cash/post/eb4554e98ce719ba62b186a99fc33eebacc7d085c77309ab8287686fae766dcc

Start with preview for imgur links and then better support for adding profile pics directly from memo interface on Profile.

[2018-07-08 22:56] Klakurka opened #59 "User's address is not what is expected when importing as WIF"
Hi there,

It looks like there's an issue when creating an account with an imported private key (WIF compressed). The address created does not seem to match up with what we're expecting.

For example:

Using a private key of `5HxfzDy2tvjgDfAq8o5kWMBj9a9fnXQsNZSHHGEyR7GfaBuwtF8`, the expected address coming out would be `1ABCDEFBn7MDdxw85ZsZThwWptZCiutq46` but the 'legacy' address we get in Memo is

[2018-07-08 23:01] Klakurka commented on #59
Looks like it could be an issue of compressed vs non-compressed WIF?

[2018-07-08 23:14] Klakurka commented on #59
Confirmed that it is an issue of not using a compressed WIF.

[2018-07-08 23:14] #59 closed

[2018-07-20 22:29] zdch opened #60 "polish translation - updated 21.07.2018"
[
  {
    "id": "home",
    "translation": "Strona główna"
  },
  {
    "id": "dashboard",
    "translation": "Pulpit"
  },
  {
    "id": "new_memo",
    "translation": "Nowe Memo"
  },
  {
    "id": "posts",
    "translation": "Posty"
  },
  {
    "id": "profiles",
    "translation": "Profile"
  },
  {
    "id": "login",
    "translation": "Zaloguj"
  },
  {
    "id": "logout",
    "translation":

[2018-07-20 22:41] zdch commented on #60
i've added missing translations, there are still some missing, but i'm getting closer to having everything done. Would like to have this implemented to see what else is remaining..

[2018-07-23 06:34] jchavannes commented on #60
Awesome @zdch thanks!

[2018-07-26 00:14] jchavannes commented on #55
Hey @xskl0 would you be able to create a PR with a catalan language file here? https://github.com/memocash/memo/tree/master/web/lang

[2018-07-27 18:40] naturalethic opened #61 "main-node doesn't do much and constantly reconnects"
I'm trying to set up my own node.  I've followed the build docs, and set up all the parts, everything seems peachy.  I've Bitcoin ABC running with a full blockchain.  My output looks something like this:

[code]

The mysql table `blocks` has only a single row in it (the first block presumably).  This ran all night, and that's all I got.

Any tips on how to debug this?  I'm not a `go` guy.

[2018-07-27 23:17] naturalethic commented on #61
Ok, well I keep restarting it when it quits and it seems to be working finally.  Probably can close this but some sort of feedback from the node process regarding whats going on, if its doing anything would be useful.  Cheers!

[2018-07-27 23:18] naturalethic commented on #61
aaaaand it's actually reporting its height every 10k.  I'm just gonna close this.

[2018-07-27 23:18] #61 closed

[2018-07-28 00:40] naturalethic opened #62 "It appears statsd is assumed to be running but this isn't in the docs."
Is this the correct assumption?  Should this be set up for node installations?

[2018-07-30 15:09] jchavannes commented on #61
Hi @naturalethic thanks for reporting.  I'm not sure why main node wasn't able to connect initially.  Definitely somewhere that could have better error handling.

[2018-07-30 15:10] jchavannes commented on #62
Thanks for reporting.  The idea was for statsd to be optional, also good point about docs not including it.  Two things that should be fixed.

[2018-07-31 20:16] jchavannes commented on #62
This should be resolved now.

[2018-07-31 20:16] #62 closed

[2018-08-04 08:58] scriptzteam opened #64 "[Request] Show images from https://i.redd.it/*.*"
Can you add new fewature that will parse/show images from https://i.redd.it/*.* :)

[2018-08-04 16:12] jchavannes commented on #64
Good idea.  I'll look into it :)

[2018-08-07 17:46] jchavannes commented on #64
This has been added.  Thanks for the suggestion :)

[2018-08-07 17:46] #64 closed

[2018-09-07 02:11] sammichaels opened #67 "Memo protocol changes requested (trust, direct message, long messages, keys, encryption)"
Hi there.

I wasn't able to fork or do a pull request to submit MIPS since the MIPS repository doesn't have anything in it, so I've made a document: https://github.com/sammichaels/memocash-mips/blob/master/Proposal.md.  From that document:

TL;DR: my goal is:

* Trust for well-known users/entities that want to be identified and protection against duplicate names.
* Longer messages (roughly the max

[2018-09-14 07:27] 87Hz opened #68 "Any plan to open backend API as public service?"
Hi, we are from Bitmain and would like to build our client integrated to memo.cash backend service.

We have our own users and need to use memo.cash service to do the broadcasting and query the posts and etc.

Do you have any plan to open backend API to make it as Platform as Service?

Thanks.

[2018-09-17 07:19] carryon opened #69 "some method undefined"
![image](https://user-images.githubusercontent.com/2255313/45610039-162cf400-ba8d-11e8-8ec7-3fdc4016285a.png)

[2018-09-17 14:02] jchavannes commented on #69
Hi @carryon please try updating your `github.com/jchavannes/jgo` repo.

[2018-09-18 15:54] carryon commented on #69
when updating github.com/jchavannes/jgo repo, It works, thanks!

[2018-09-18 15:54] #69 closed

[2018-09-21 12:55] bitcoineler opened #70 "German Language"
I'm nativ german speaker. here is the german language file for memo, I used the netherland file as a template.
[memo-german_2.0.txt](https://github.com/memocash/memo/files/2405404/memo-german_2.0.txt)

[2018-09-21 13:36] #70 closed

[2018-10-02 21:19] eristoddle commented on #58
Hey, if this bounty is still open, I think I can get this done.

[2018-10-02 22:33] zhoujianfu commented on #58
Heya!

It's still open! I don't know if this chaintip is working exactly but I at
least promise to fund it if so!

Awesome, and thanks!
josh!

On Tue, Oct 2, 2018 at 2:19 PM Stephan Miller <notifications@github.com>
wrote:

[2018-10-03 00:17] eristoddle commented on #58
Cool, I'll take a look.

[2018-10-03 07:04] chaintip commented on #58
@eristoddle, @zhoujianfu, there seems to be an issue with this bounty. I only became aware of it very recently (a few days ago), but it looks like the address that was sent funds somehow no longer has funds. I've sent @zhoujianfu an email about this at their GitHub registered email but have had no reply as of yet. You can see the issue if you follow the 'been tipped' link on the chaintip comment a

[2018-10-03 07:17] zhoujianfu commented on #58
Oh yeah, checking through it I can't find a transaction where I funded it
either. I'll fund it now though... if it's fixed on your end?

josh!

On Wed, Oct 3, 2018 at 12:04 AM ChainTip <notifications@github.com> wrote:

[2018-10-03 07:18] zhoujianfu commented on #58
@chaintip 30 days

[2018-10-03 07:19] chaintip commented on #58
Thank you @zhoujianfu! `2.50181736 BCH`| `~1285.78 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/40), get a pull request merged with ```@chaintip fixes #58``` in the creation comment.

[2018-10-04 05:46] carryon commented on #68
@jchavannes any plan to open public API to let more people to use.

[2018-10-04 06:00] jchavannes commented on #68
Hi, an API wouldn't be doing much more than being a wallet and generating transactions.  It's on our long list of things to do.  Have you looked at BitDB? https://bitdb.network/

[2018-10-05 01:55] 87Hz commented on #68
@jchavannes  Thanks for your reply. BitDB looks very promising. We will take a look at it.

[2018-10-05 01:55] #68 closed

[2018-10-06 11:28] lzhuor opened #72 "Memo Protocol monitoring"
Hi team,

I tried to export the private key of my memo account and published a bch transaction with my own programme. However, I can't find this message in memo.

Could you please share a bit about why? Thank you! Attached my transaction for your reference.

https://blockchair.com/bitcoin-cash/transaction/fce0384c9133017c059174734955d0e9bf2c4c72bd8b896d41b5dccfcc263fe8

[2018-10-07 05:49] jchavannes commented on #72
Hi @lzhuor it looks like your transaction is only using a single push data.  It's not specified on the protocol but memo uses separate push data for the prefix and the data.

[2018-10-08 04:40] lzhuor commented on #72
Hi @jchavannes , thank you for the reply! ❤️

Could you please elaborate more about single push vs separate push? I'm afraid I'm not clear about this concept. Apologies.

[2018-10-08 15:48] jchavannes commented on #72
@lzhuor Your transaction looks like this:
[code]

It should be:
[code]

[2018-10-08 18:08] lzhuor commented on #72
Thank you, buddy. It works. Just FYI:

[code]

[2018-10-09 02:00] eristoddle commented on #9
Well, I tried the same because I didn't want to wait to download the whole mainnet. But I did manage to find out where this has to be addressed. SEE: https://en.bitcoin.it/wiki/Testnet

The protocol message header and addresses are different. I did track down where in the project these are handled. SEE: memo/app/bitcoin/wallet/net.go. The mainnet params here would have to be replaced with testnet3

[2018-10-09 22:58] eristoddle commented on #58
Just letting you know, I've been working and think I am making progress. I tried to get the app to connect to the testnet first and that was a dead end without refactoring. Commented on that here: https://github.com/memocash/memo/issues/9#issuecomment-428034504

Now I'm pulling down the mainnet, which says two more days. But while that's happening, I've been writing the go code for the functionali

[2018-10-09 23:00] jchavannes commented on #58
@eristoddle what protocol/spec are you using?

[2018-10-09 23:10] eristoddle commented on #58
Haven't got to that part just yet. I just created another go project to work out the encryption part while I'm waiting. Any suggestions? I did also have a question about what you think would be the best service to use for longer messages.

[2018-10-10 06:18] jchavannes commented on #58
@eristoddle for longer messages you can chain multiple transactions.  This has already been done for other things.  Feel free to contact me on Telegram or any of the other contact methods to chat more, thanks :) https://memo.cash/about#contact

[2018-10-10 14:49] zhoujianfu commented on #58
I know I didn’t (at least on purpose!) do a double spend!

[2018-10-10 15:04] eristoddle commented on #58
@chaintip That's fine. I started looking at it when it was half that and thought I was going to get a bonus, lol. I've been doing bounties to get more familiar with go, solidity and blockchain technology.  I've been a full stack developer in multiple languages for 16 years, but it's kind of hard to build experience in these new technologies without something like bounties. Normally I would be pick

[2018-10-12 07:17] #72 closed

[2018-10-12 07:47] chaintip commented on #58
@zhoujianfu, yeah, I also think (unless you are malicious - obviously not since you are tipping these issues) that the double spend scenario is near impossible, which means that you either sent the money and my bot has lost it by changing the address (very bad), or you didn't send anything and my bot somehow got confused and thought you had sent something. If you can find a transaction of yours fo

[2018-10-12 17:38] zhoujianfu commented on #58
I couldn't find such a transaction, nope! I don't think I'm short any BCH,
don't worry about it. It wasn't a double spend either, just some other
myserious bug I'm sure! :)

On Fri, Oct 12, 2018 at 12:47 AM ChainTip <notifications@github.com> wrote:

[2018-10-17 01:44] eristoddle commented on #58
Well I have the encryption part working stand alone. I am looking into the app. I do have two accounts there locally that I exported from the live site. I tried to run the bch node with -prune=3000 because I am working on a laptop and don't have the space for the whole chain. I am guessing now that that is not going to work because my local accounts show no balance. I do have a server with 3TB of

[2018-10-18 13:47] eristoddle commented on #58
That setup with my remote server and -txindex seems to be working better.

[2018-10-20 06:09] eristoddle commented on #58
I've got a very rough version of the sending side working. I'm still experimenting. It's pretty interesting. Here's a work in progress commit so you can check out what I'm doing: https://github.com/eristoddle/memo/commit/6a9be93c0c2c6f63968b986b7685f932c6c54be4

[2018-10-20 14:40] zhoujianfu commented on #58
Awesome work Stephan!!

[2018-10-25 02:42] eristoddle commented on #58
Here's the current differences: https://github.com/memocash/memo/compare/master...eristoddle:private-messages?expand=1
Working on saving the messages to the database now. It's encrypting, creating transactions and finding them.

[2018-10-25 21:21] zhoujianfu commented on #58
Awesome... awesome!

On Wed, Oct 24, 2018 at 7:42 PM Stephan Miller <notifications@github.com>
wrote:

[2018-10-29 20:53] scriptzteam opened #75 "Update when? ^^"
Update when? ^^

[2018-10-29 23:23] jchavannes commented on #75
Hopefully next 2 weeks.  I  need to finish some updates/fixes first.

[2018-11-02 07:18] chaintip commented on #58
`1.23566322 BCH`| `~ 526.51 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/40), get a pull request merged with ```@chaintip fixes #58``` in the creation comment.

[2018-11-04 09:02] eristoddle commented on #58
![image](https://user-images.githubusercontent.com/1260650/47961695-865bee80-dfd5-11e8-9523-871457b0c58e.png)
I still have some work to do but just wanted you to see it works as a proof of concept / prototype.

[2018-11-05 17:46] eristoddle commented on #58
What I have left:
- Using the database records to get the public key instead of an api with throttling, so I can...
- Decrypt the messages concurrently to improve performance
- Fix bug where messages with more than two transactions only get the first two transactions published. (Think I am calculating fees incorrectly?)

[2018-11-07 22:37] zhoujianfu commented on #58
Pretty great progress...!

[2018-11-08 03:47] eristoddle commented on #58
Okay I think I have it working pretty smoothly just down to details and preferences for how to display things, etc. I will get back with a list of questions and details on how I have implemented things.

[2018-11-09 03:41] eristoddle commented on #58
I used 0x6d15 for the messages. Any message starts at two transactions, just because of the size of the encryption. I used the standard post form with the limitations it had on the size. At 217 characters, a private message takes 4 transactions. Still really, really cheap.

I used the polls as an example to chain the messages. But I had to keep the order intact, so... The first transaction has a c

[2018-11-11 07:12] DesWurstes opened #77 "SCRAM Authentication"
[RFC 7677](https://tools.ietf.org/pdf/rfc7677.pdf): Allows authentication without sending the password.

What are your thoughts about it?

[2018-11-13 18:48] zhoujianfu commented on #58
Sounds pretty good!

I'm a little confused if you're currently showing all encrypted messages in
the private messages tab or only ones to you by somehow already figuring
out which ones are directed to you (but if so, how are you doing that if
you're keeping the user's private key safe and encrypted in local storage?
I'm not saying you need to do that, but you seem to indicate you are?).
Ideally it

[2018-11-13 19:09] eristoddle commented on #58
I am showing all the encrypted messages like the other tabs. The ones that can't be decrypted by the user's key I actually throw an error, which I ignore because it's expected and use to determine it is not theirs. And those I show on the page in their encrypted form. Those that can be decrypted, I show decrypted. I use a post to the page to post the user's password. So I intercept the link click

[2018-11-14 18:54] zhoujianfu commented on #58
Ah, so you would see ALL encrypted messages in that tab then, then have to
click each one to see if it's to you?

If that's the case, maybe for now we should make the way it works be that
you actually send the encrypted messages to the person it's for, so they'd
know which ones to attempt to encrypt via the destination BCH address?
That'd be fine and a much better user experience for sure! Or mayb

[2018-11-14 19:23] eristoddle commented on #58
Not quite. I'll get the demo up so you can see and end confusion.

The private messages all load in the page. If you click on a link on the site to get there, the page posts the password so it's available for the backend to decrypt all the messages loading in that page (25 results like the other tabs). And those that can be decrypted by the user's private key get decrypted.

The post is necessary

[2018-11-14 23:02] zhoujianfu commented on #58
I guess I was saying maybe the way a private message could work is if you
specify one of the outputs of the encrypted message transaction is one
satoshi to the bch address you're writing to... so then we'd know who it
was meant for (even though we couldn't decrypt it yet).

Does that make sense? Also, I'm about 99% sure that variables sent via
secure (https) GET requests are also encrypted en rout

[2018-11-15 03:16] eristoddle commented on #58
It would be 546 satoshis, the the dust limit for BCH, which really isn't much. I'm going from memory but a 217 character message encrypted sends for around 1600 satoshis in 4 transactions. That only adds 30% to the cost. A total of less than half a cent for that size message. I'll try that.

[2018-11-16 04:44] zhoujianfu commented on #58
Awesome!

I do wish they removed the dust limit for BCH.. the whole point is SUPER
cheap transactions. And there are actual reasons to do so. Maybe just 1
satoshi minimum total per transaction (no matter the size) would be good.
Oh well..

On Wed, Nov 14, 2018 at 7:16 PM Stephan Miller <notifications@github.com>
wrote:

[2018-11-24 05:19] eristoddle commented on #58
Working on it I just realized it will be cheaper to add the recipient address to the first transactions op return. I'm going to try it that way.

[2018-11-24 07:55] zhoujianfu commented on #58
Ah, unencrypted I assume (or else you’d still have to decrypt everything to find yours!)... that sounds good, unless is there any efficiency in filtering txns sent to you vs ones that have your address in the OP_RETURN?

josh!

[2018-11-25 01:00] eristoddle commented on #58
Going back to sending the transaction to the recipient. Would have to refactor and affect too many other parts of the application to do what I was thinking.

[2018-11-25 04:56] eristoddle commented on #58
I have the recipient transaction working. Just working on displaying them for the user.

[2018-11-26 04:07] eristoddle commented on #58
Just have to work on the message count functionality now.
![image](https://user-images.githubusercontent.com/1260650/48992625-76c85500-f0fe-11e8-924e-6a7560e0b25a.png)

[2018-11-26 05:33] zhoujianfu commented on #58
Huzzah!

On Sun, Nov 25, 2018 at 8:07 PM Stephan Miller <notifications@github.com>
wrote:

[2018-11-29 02:33] eristoddle commented on #58
I'll get this up somewhere to test and let you know. And look at an issue I'm having where this never seems to stop waiting for the transactions to go through even when they already have:
![image](https://user-images.githubusercontent.com/1260650/49195448-ca2fe280-f34c-11e8-869c-0ede60c15796.png)

[2018-11-30 03:18] eristoddle commented on #58
I dockerized everything and put it on google compute. Just waiting for the data to sync. Do you have a telegram or other account I can send the url to. I'll probably check back to see if it's done. I'm @eristoddle on telegram or just about everywhere else.

[2018-12-04 02:13] eristoddle commented on #58
Here is a link: http://35.188.176.83:8261/ I just had to restart things because I forgot to add a volume for the mysql image, so it is currently still syncing data.

[2018-12-05 06:20] zhoujianfu commented on #58
Nice.. I checked it out but couldn't message because I didn't have any
money. I imported a private key with some money on it, but maybe you're
still syncing the blockchain or something because it said I didn't have
any. One comment, it might be cool to also add the message button (next to
follow) on the mouseover javascript popup for user profiles too (and not
just on the main user profile page)?

[2018-12-06 01:40] eristoddle commented on #58
I need to check something there. Transactions don't seem to be getting out from that server.

[2018-12-06 03:54] eristoddle commented on #58
Hmmm... not working for me now locally either. The transactions aren't getting to the blockchain. The app create then and broadcasts them. There are no errors like I have seen before in the app logs when transactions got rejected. I restarted my BCH node just in case. The one everything connects to. I can't  seem to send any transaction out, private message or otherwise. The last time I tried befo

[2018-12-06 19:34] zhoujianfu commented on #58
Weird, maybe it's just an unrelated issue in your setup and not really
related to the new pm code though..

On Wed, Dec 5, 2018 at 7:54 PM Stephan Miller <notifications@github.com>
wrote:

[2018-12-07 01:43] eristoddle commented on #58
Yeah, I'm not sure what's going on. I can retrieve transactions from the node but can't broadcast them and don't see any errors. I'm using Bitcoin ABC and have been running the same version the whole time. Going to update that and see what happens.

[2018-12-14 21:30] scriptzteam commented on #75
2 weeks right ^^

[2018-12-15 17:56] jchavannes commented on #75
@scriptzteam the hard fork and a number of other things have kept me really busy.  It will be a lot of work before I'm ready to update again.  My apologies.

[2019-01-09 05:34] jchavannes commented on #77
@DesWurstes SCRAM sounds like a great idea, thanks.

[2019-01-15 11:34] jcalfee opened #79 "Feature: simple rss feed"
Please consider a simple user-based rss news feed.  The news feed can be used to help to avoid shadow banning (sites failing to report a contributors post to all subscribers) by pulling news directly from the user's account.  The news feed is the easiest way to subscribe without an account in bulk to users on many platforms.

You can help users and feed readers by include a `<html><head><link ..`

[2019-01-15 16:56] jchavannes commented on #79
Great idea, thanks!

[2019-01-16 16:33] jcalfee commented on #79
Another link example:
[code]

[2019-03-08 06:18] jchavannes commented on #79
@jcalfee RSS feed has been added.  Thanks for your suggestion!

https://memo.cash/rss/new

[2019-03-08 06:19] jchavannes commented on #79
Actually this is for all posts.  I will look into adding one for individual users.

[2019-03-09 08:41] scriptzteam commented on #75
????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????

[2019-03-09 15:15] jchavannes commented on #75
@scriptzteam unfortunately it is becoming less likely I will be able to update this repo.  However, I plan on releasing some developer tools soon.  Stay tuned!

[2019-04-02 10:38] danuker commented on #75
The fact that Yours [started censoring people](https://memo.cash/post/7a7404cacc2855a9971095475dbbcca70cbd6a0816760d592a2dd66138375e5d), coupled with this lack of updates, makes me weary of trusting Memo.

I will consider running the open-source server instead of using the site.

[2019-06-09 02:04] stevenzeiler opened #81 "Feature: Link Preview Image"
Like on Twitter and Facebook a post with a link should render a preview with a relevant image from the linked page.

This would greatly increase the richness of the feed.

[2019-06-09 06:02] jchavannes commented on #81
Thanks for the feedback.  This is definitely something I would like to have eventually.

[2019-07-18 15:13] theRealBitcoinClub opened #82 "Feature: clickable addresses"
A link like [bitcoincash:qqp0kpntfxygx3e6d4mr9c5ef5ucxdcjk5zkgtevss](qqp0kpntfxygx3e6d4mr9c5ef5ucxdcjk5zkgtevss)

automatically opens bitcoincash addresses!

Memo could use varios libraries to detect addresses of all types, including DASH, BTC and BSV

[2019-09-29 21:38] jcalfee commented on #79
Thank you!!

Can you try making it a fully resolved URL?

Change:
[code]
To:
[code]

This is what happens when I add `https://memo.cash` to the Liferea news reader:

![image](https://user-images.githubusercontent.com/204121/65839796-521cab00-e2d6-11e9-9d80-875d3a67a66a.png)

But it does work, because when I add `https://memo.cash/rss/new` to the reader I see the feed:

![image](https://user-images